[Unit]
Description=Run Scrobload periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true
Unit=scrobload.service

[Install]
WantedBy=timers.target
